body{
    background-color: #232323;
    margin: 0;
    font-family: 'Montserrat','Avenir';
}

.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;  /* content is empty so add some padding, this will show something */
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    /* transition: opacity 3.0s ease-out; */
    transition: background-color 0.6s;
    -webkit-transition: background-color 0.6s;
    -moz-transition: background-color 0.6s;
}

#container{
    margin: 10px auto;  /* top&bottom = 0 margin, left&right = auto(same size)*/
    max-width: 600px;
}

h1{
    color:white;
    text-align: center;
    background: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0; /*bottom and top padding no left and right*/
}
/* span in here is more specific,targeting element itself rather than parent inherite color 
span{
    color: white;
} */

#colorDisplay{
    font-size: 200%;
}

#message{
    display: inline-block;
    width: 20%;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected{
    color: white;
    background: steelblue;
}

button{
    border: none;
    text-transform: uppercase;
    height:100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing:  1px;
    font-size: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    outline: none;
}

button:hover{
    color: white;
    background: steelblue;
}